{% extends 'resume/base.html' %}
{% block index %}
<div id="root">
    <section id="hero" class="d-flex flex-column justify-content-center">

        {% block detail %}{% endblock detail %}
    </section>

    <main id="main">

    </main>

    <footer class="fixed-bottom">
        <div class="container">
            <ul class="nav">
                <li class="block"><a href="#home">Home</a></li>
                <li class="block"><a href="#about">About Us</a></li>
            </ul>

        </div>
        <hr />
    </footer>

</div>
{% endblock index %}